
body {
    background-color: rgb(239, 230, 199);
    padding: 20px;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.tarjetaInicio{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1150px;  
    height: 680px;           
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 16px;       
    padding: 25px;             
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s;

}


.contenedorAmarillo {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color:#f0d692;
    border-radius: 15px;
    padding: 30px;
    max-width: 450px;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}


h1 {
    text-align: center;
    color: #333;
    margin-bottom: 10px;
    font-size: 28px;
}


.recuadro-formulario {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    padding: 25px;
}

.grupo-formulario {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: #555;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}



.boton {
    position: absolute;
    top: 95%;
    left: 75%;
    background-color: #d1ad6a;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 35px;
    cursor: pointer;
    font-size: 16px;
    width: 30%;
    transition: background-color 0.3s;
    margin-top: 10px;
}

.boton:hover {
    background-color: #917439;
}

.opciones {
    text-align: center;
    margin-top: 20px;
    padding-top: 15px;
    border-top: 1px solid #e0e0e0;
}

.opciones a {
    color: #EFCE6C;
    text-decoration: none;
}

.opciones a:hover {
    text-decoration: underline;
}

.error-mensaje {
    color: #e74c3c;
    font-size: 12px;
    margin-top: 5px;
    display: none;
}

.exito-mensaje {
    background-color: #d4edda;
    color: #155724;
    padding: 12px;
    border-radius: 5px;
    margin-bottom: 20px;
    display: none;
    text-align: center;
}

.boton1{
    background-color: #ed7b6cdd;
    color: white;
    padding: 16px 0px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 10px;
    width: 15%;

}

.boton1:hover {
    background-color: #ed5642dd;
}

.boton2{
    background-color: #edb36cdd;
    color: white;
    padding: 16px 0px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 10px;
    width: 15%;

}

.boton2:hover {
    background-color: #ed9a33dd;
}

.boton3{
    background-color: #6ca2eddd;
    color: white;
    padding: 16px 0px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 10px;
    width: 15%;

}

.boton3:hover {
    background-color: #3883ecdd;
}

.boton4{
    background-color: #7b8ef1dd;
    color: white;
    padding: 16px 0px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 10px;
    width: 15%;

}

.boton4:hover {
    background-color: #4461f1dd;
}
.boton5{
    background-color: #7aba6add;
    color: white;
    padding: 16px 0px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 10px;
    width: 15%;

}

.boton5:hover {
    background-color: #47a130dd;
}

/*    -------------------------------------------*/


.colores{
    margin-top: 15px;
    margin-left: 60px;
}